<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>TestConnectionServlet</servlet-name>
        <servlet-class>servlets.TestConnectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestClientServlet</servlet-name>
        <servlet-class>servlets.TestClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicationInitializer</servlet-name>
        <servlet-class>servlets.ApplicationInitializer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>TestConnectionServlet2</servlet-name>
        <servlet-class>servlets.TestConnectionServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestClientServlet2</servlet-name>
        <servlet-class>servlets.TestClientServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestClientServlet3</servlet-name>
        <servlet-class>servlets.TestClientServlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestClientServlet4</servlet-name>
        <servlet-class>servlets.TestClientServlet4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestClientServletGetAll</servlet-name>
        <servlet-class>servlets.TestClientServletGetAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibrarySearchServlet</servlet-name>
        <servlet-class>servlets.LibrarySearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestConnectionServlet</servlet-name>
        <url-pattern>/TestConnectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestClientServlet</servlet-name>
        <url-pattern>/TestClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestConnectionServlet2</servlet-name>
        <url-pattern>/TestConnectionServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestClientServlet2</servlet-name>
        <url-pattern>/TestClientServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestClientServlet3</servlet-name>
        <url-pattern>/TestClientServlet3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestClientServlet4</servlet-name>
        <url-pattern>/TestClientServlet4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestClientServletGetAll</servlet-name>
        <url-pattern>/TestClientServletGetAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibrarySearchServlet</servlet-name>
        <url-pattern>/LibrarySearchServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
